.Hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #eff3f5;
  width: 100vw;
  height: 250px;
  z-index: -1;
}

.Hero::before {
  content: '';
  background-image: url("images/heroMobile.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.5;
}

.Hero h1 {
  position: relative;
  height: 80px;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  margin: 63px 54px 0 54px;
}
.Hero h2 {
  position: relative;
  height: 25px;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  margin: 15px 54px 0 54px;
}
.Hero footer {
  display: none;
}

@media (min-width: 813px) {
  .Hero {
    background-image: url("images/hao-rui-0WI2O8TsY8o-unsplash.jpg");
    background-size: cover;
    background-position-y: -360px;
    width: 100vw;
    height: 275px;
  }
  .Hero::before {
    background-image: none;
  }
  .Hero h1 {
    font-size: 48px;
    line-height: 50px;
  }
  .Hero h2 {
    font-size: 28px;
    line-height: 30px;
  }
  .Hero footer {
    position: absolute;
    display: block;
    right: 0;
    bottom: 0;
    letter-spacing: 1.5px;
    font-size: 10px;
    line-height: 13px;
    font-weight: 400;
    color: #ffffff;
    width: 125px;
    height: 13px;
    margin-bottom: 10px;
    margin-right: 26px;
  }
}
