@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100&display=swap");

.Search {
  margin: 0 16px;
  border-bottom: 3px solid rgba(141, 141, 142, 0.35);
}
.Search input-container {
  position: relative;
}
.Search input {
  background: #202123;
  border: 2px solid #363a42;
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 52px;
  margin-top: -28px;
  font-family: "Roboto", sans-serif;
  color: #fff;
}
.Search input::-webkit-input-placeholder {
  color: #eff3f5;
}
.Search input::-moz-placeholder {
  color: #eff3f5;
}
.Search input::-ms-input-placeholder {
  color: #eff3f5;
}
.Search input::-moz-placeholder {
  color: #eff3f5;
}
.Search input[type="text"] {
  padding-left: 36px;
}
.Search img {
  position: absolute;
  top: 295px;
  left: 50px;
}
.Search footer {
  color: #b0b3b5;
  padding: 30px 0 22px 0;
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}
@media (min-width: 813px) {
  .Search {
    margin: 0 45px;
  }
  .Search input {
    width: 672px;
  }
  .Search img {
    top: 320px;
    left: 515px;
  }
  .Search footer {
    padding: 12px 0 18px 0;
  }
}
